/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
}

/* Estilo do container principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo do título principal */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo do formulário */
#form-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#form-container input[type="text"] {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#form-container input[type="text"]:last-child {
    margin-right: 0;
}

#form-container button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#form-container button:hover {
    background-color: #218838;
}


#users-table button {
    padding: 10px 20px;
    background-color: #7428a7;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#users-table #del {
    padding: 10px 20px;
    background-color: #930e0e;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#users-table #del:hover {
    background-color: #570202;
}


#users-table button:hover {
    background-color: #440257;
}



/* Estilo da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f8f8f8;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Estilo das ações */
.actions button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.actions button.edit {
    background-color: #007bff;
    color: #fff;
}

.actions button.edit:hover {
    background-color: #0056b3;
}

.actions button.delete {
    background-color: #dc3545;
    color: #fff;
}

.actions button.delete:hover {
    background-color: #c82333;
}
